/*Colores
negro -> 080708
azul -> 3772ff
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    background-color: #080708;
    font-family: 'Poppins', sans-serif;
}

body *{
    color: #3772ff;
}